<!DOCTYPE html>
<html lang="en">
<head>
<style>
table{
    height:400px;
    width:100px;
}
h1 { text-align: center;}
</style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="AntiqueWhite">
<h1> Resume Builder</h1>
        <form action="/details/" method="get">
            <table border=0 cellpadding="10px" cellspacing="20px" style="background-color: white; margin-top: 5%; border: double; border-color: black; border-radius: 10px;" align="center">
                <tr><td colspan="4" style="font-size:30px;" align="center"><b>Login</b></td></tr>
                <tr><td >Username</td><td><input type="text" name="uname" required></td></tr>
                <tr><td >Password</td><td><input type="password" name="pwd" required></td></tr>
                <tr><td><a href="/signup/" style="color: black; text-decoration: none;">Sign Up</a></td><td align="right"><input type="Submit"></td></tr>
            </table>
        </form>
</body>
</html>